<a href="https://colab.research.google.com/github/cathay/cnn/blob/master/cat_and_dog_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
import os
import zipfile
import random
import tensorflow as tf
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from shutil import copyfile
import pandas as pd
import numpy as np
import cv2
from sklearn.model_selection import train_test_split

#Import Google drive functions
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
#Utilities to upload files
def upload_files():
  from google.colab import files
  uploaded = files.upload()
  for k, v in uploaded.items():
    open(k, 'wb').write(v)
  return list(uploaded.keys())

In [0]:
#Authorize Google drive
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
#download train and test images
download = drive.CreateFile({'id': '1EVPUykY4KwHvWL-umtLhJIfGhCFtHqn8'})
download.GetContentFile('train.zip')
download = drive.CreateFile({'id': '1l4vKliu1LB5Y65ZMvsSDrJiPG2mKvdqN'})
download.GetContentFile('tests.zip')

#Extract files
zip_ref = zipfile.ZipFile('train.zip', 'r')
zip_ref.extractall('tmp')
zip_ref = zipfile.ZipFile('tests.zip', 'r')
zip_ref.extractall('tmp')
zip_ref.close()

In [0]:
def get_im_cv2(path, w, h):
  img = cv2.imread(path)
  resized = cv2.resize(img, (w,h), cv2.INTER_LINEAR) 
  return resized

In [31]:
TRAININNG_DIRECTORY='tmp/train'
IMAGE_WIDTH=128
IMAGE_HEIGHT=128
IMAGE_SIZE=(IMAGE_WIDTH, IMAGE_HEIGHT)
IMAGE_CHANNELS=3

df = pd.DataFrame({'file': os.listdir(TRAININNG_DIRECTORY)})

df['animal'] = df['file'].map(lambda file_name: file_name.split('.')[0])
df['Y'] = df['animal'].map(lambda x: np.array([1,0]).transpose() if x !='cat' else np.array([0,1]).transpose())
df['X'] = df['file'].map(lambda file: get_im_cv2(TRAININNG_DIRECTORY + "/" + file, IMAGE_WIDTH, IMAGE_HEIGHT))

25000
12500

            file  ...                                                  X
0   cat.5721.jpg  ...  [[[152, 174, 209], [152, 174, 209], [152, 174,...
1  cat.12084.jpg  ...  [[[96, 93, 94], [138, 117, 99], [144, 131, 126...
2  dog.11124.jpg  ...  [[[27, 49, 45], [51, 77, 73], [22, 47, 43], [4...
3   dog.5092.jpg  ...  [[[158, 180, 197], [154, 176, 193], [153, 174,...
4   cat.7605.jpg  ...  [[[101, 152, 185], [100, 151, 184], [104, 155,...

[5 rows x 4 columns]

In [32]:
df.head()

            file  ...                                                  X
0   cat.5721.jpg  ...  [[[152, 174, 209], [152, 174, 209], [152, 174,...
1  cat.12084.jpg  ...  [[[96, 93, 94], [138, 117, 99], [144, 131, 126...
2  dog.11124.jpg  ...  [[[27, 49, 45], [51, 77, 73], [22, 47, 43], [4...
3   dog.5092.jpg  ...  [[[158, 180, 197], [154, 176, 193], [153, 174,...
4   cat.7605.jpg  ...  [[[101, 152, 185], [100, 151, 184], [104, 155,...

[5 rows x 4 columns]

In [0]:
to_numpy, validate_df = train_test_split(df, test_size=0.20, random_state=42)
train_df = train_df.reset_index(drop=True)
validate_df = validate_df.reset_index(drop=True)

x_train = []
x_test = []
y_train = []
y_test= []

for item in train_df['X']:
  x_train.append(item)

for item in validate_df['X']:
  x_test.append(item)

for item in train_df['Y']:
  y_train.append(item)

for item in validate_df['Y']:
  y_test.append(item)

x_train = np.array(x_train, dtype=np.uint8)
x_test = np.array(x_test, dtype=np.uint8)
y_train = np.array(y_train, dtype=np.uint8)
y_test = np.array(y_test, dtype=np.uint8)

In [42]:
#build model
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Dropout, Flatten, Dense, Activation, BatchNormalization

model = Sequential()

model.add(Conv2D(32, (3, 3), activation='relu', input_shape=(IMAGE_WIDTH, IMAGE_HEIGHT, IMAGE_CHANNELS)))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2)))
#model.add(Dropout(0.25))

model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2)))
#model.add(Dropout(0.25))

model.add(Conv2D(128, (3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2)))
#model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(512, activation='relu'))
model.add(BatchNormalization())
#model.add(Dropout(0.5))
model.add(Dense(2, activation='softmax')) # 2 because we have cat and dog classes

model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_13 (Conv2D)           (None, 126, 126, 32)      896
_________________________________________________________________
batch_normalization_17 (Batc (None, 126, 126, 32)      128
_________________________________________________________________
max_pooling2d_13 (MaxPooling (None, 63, 63, 32)        0
_________________________________________________________________
conv2d_14 (Conv2D)           (None, 61, 61, 64)        18496
_________________________________________________________________
batch_normalization_18 (Batc (None, 61, 61, 64)        256
_________________________________________________________________
max_pooling2d_14 (MaxPooling (None, 30, 30, 64)        0
_________________________________________________________________
conv2d_15 (Conv2D)           (None, 28, 28, 128)       73856
_________________________________________________________________
batch_normalization_19 (Batc (None, 28, 28, 128)       512
_________________________________________________________________
max_pooling2d_15 (MaxPooling (None, 14, 14, 128)       0
_________________________________________________________________
flatten_5 (Flatten)          (None, 25088)             0
_________________________________________________________________
dense_9 (Dense)              (None, 512)               12845568
_________________________________________________________________
batch_normalization_20 (Batc (None, 512)               2048
_________________________________________________________________
dense_10 (Dense)             (None, 2)                 1026
=================================================================
Total params: 12,942,786
Trainable params: 12,941,314
Non-trainable params: 1,472
_________________________________________________________________

In [0]:
model.fit(x_train, y_train,
          batch_size=15,
          epochs=3,
          verbose=1,
          validation_data=(x_test, y_test))
score = model.evaluate(x_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 20000 samples, validate on 5000 samples
Epoch 1/3
 8340/20000 [===========>..................] - ETA: 11:41 - loss: 0.7707 - acc: 0.6476